<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Url Shrotner</h1>
    <% if (typeof user !== 'undefined') { %>
    <h2>Welcome, <%= user.name %>!</h2>
    <p>Your email: <%= user.email %></p>
    <% } %>


    <% if(locals.id) {%>
        <p>URL Generated: http://localhost:8001/url/<%= id %>
        </p>
        <% } %>
            <div>
                <form method="post" action="/url">
                    <label>Enter Your Original URL</label>
                    <input type="text" name="url" placeholder="https://example.com" />
                    <button type="submit">Generate URL</button>
                </form>
            </div>
            <div>
                <% if(locals.urls){ %>

                    <table>
                        <thead>
                            <th> S.No </th>
                            <th> ShortId </th>
                            <th> Redirect </th>
                            <th> clicks </th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url,index)=> { %>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>

                                <% }); %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>